@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>BLUDATA</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                BLU DATA
            </div>
            <div class="panel-body">
                  
                <a href="https://www.bludata.com.br/"> <img src="~/Imagem/foto.png" /> </a>
            </div>
        </div>
    </div>
</div>
